
/* CSS Variables */
:root {
	/* Colors */
	--color-primary: #00C1D1;
	--color-secondary: #CBD8F8;
	--color-normal-text: #8292AA;
    --color-border: 1px solid #243156;
    --color-headings: #CBD8F8;
	--color-body: #101424;
    --color-background: #0D111F;

	/* Typography */
	--font-family: Roboto Mono, 'monospace';
	--font-size-base: 1rem;
	--heading-font-size: 2rem;

    /* Width and height */
    --height-navbar: 7rem;
}


/* Typography */

html{
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}
body{
    font-family: roboto mono, monospace;
    background-color: var(--color-background);
    color: var(--color-normal-text);
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 0;
    max-width: 120rem;
}

h1, h2, h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    /* 1 x font size of the html element */
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
p{
    margin: 0;
    padding: 0;
}


/* @media screen and (min-width: 1024px) { */
    /* body{
        font-size: 1.8rem;
        /* FIXME: I should respond to the font size when I make the site responsive.  */


/* Links */
.link-style{
    color: var(--color-normal-text);
    text-decoration: none;
    font-size: 2rem;
}

.link-style:hover{
    color: var(--color-primary);
}

/* Lists */
.list-style-none{
    list-style: none;
    padding-left: 0;
}
.list--inline{
    display: inline;
}


.list__item{
    padding-left: 3rem;
    margin: 3rem 0;
}

/* common and shared styles */
.bg__border{
    background-color: var(--color-body);
    border: var(--color-border);
    /* padding: 1.5rem 2.5rem; */
    border-radius: .8rem;
}

.code__color{
    color: var(--color-primary);
}

.height-navbar{
    height: var(--height-navbar);
}


/* TODO: I should apply the nve bar to flex grow */

/* navbar */

.navbar{
    display: grid;
    grid-template-columns: 70px 2.5fr 7fr;
    column-gap: .5rem;
    margin-top: 5rem;
}
.nav-content{
    height: var(--height-navbar);
}


.hero-section{
    display: flex;
    margin-top: 8rem;
}

.hero-content{
    width: 50%;
}
.hero-image{
    width: 50%;
    display: flex;
    align-items: center;
}

.hero-image img{
    width: 100%;
}



/* about-section */
.about-section{
    margin-top: 12rem;
}

.about-icon{
    display: flex;
}

.about-icon p{
    margin-left: .5rem;
}